{% extends "./adminBase.html" %} {% load static %} {% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'adminCss/seller.css' %}" />
{% endblock %}
{% block title %}Admin-Seller{% endblock %}
{% block content %}


<div>
    <div class="header-container ">
        <div id="pageTitle" class="main-padding">Seller List</div>
        <hr class="border-line">
    </div>
    {% if users|length == 0 %}
    <div class="img-wrapper">
        <img style="object-fit: contain; height:100px;" src="{% static 'media/404img.png' %}">
    </div>
    {% else %}
    <div class="table-wrapper main-padding">
        <table>
            <tr>
                <th class="text-style1">Name</th>
                <th class="text-style1">Email</th>
                <th class="text-style1">Address</th>
                <th class="text-style1">City</th>
                <th class="text-style1">State</th>
                <th class="text-style1">Phone</th>
                <th class="text-style1">Seller PDF</th>
                <th class="text-style1">Email Verified</th>
                <th class="text-style1">Phone Verified</th>
                <th class="text-style1">Is Seller Approved</th>
                <th class="text-style1">Is Active</th>
                <th class="text-style1">Action</th>
            </tr>
            {% for user in users %}
            <tr>
                <td class="text-style1">{{user.name}}</td>
                <td class="text-style1">{{user.email}}</td>
                <td class="text-style1">{{user.address_line}}</td>
                <td class="text-style1">{{user.city}}</td>
                <td class="text-style1">{{user.state}}</td>
                <td class="text-style1">{{user.phone}}</td>


                {% if user.seller_pdf != False %}
                <td class="text-style1">
                    <a href="{{ user.seller_pdf }}" target="_blank" class="font-monospace">View pdf</a>
                </td>
                {% else %}
                <td class="text-style1">No pdf</td>
                {% endif %}



                <td class="text-style1">
                    <div class="cell-center">
                        {% if user.isEmailVerified == 0 %}
                        -
                        {% elif user.isEmailVerified != 0 %}
                        <img src="{% static 'media/patch-check-fill.svg' %}">
                        {% endif %}
                    </div>

                </td>
                <td class="text-style1">
                    <div class="cell-center">
                        {% if user.isPhoneVerified == 0 %}
                        -
                        {% elif user.isPhoneVerified != 0 %}
                        <img src="{% static 'media/patch-check-fill.svg' %}">
                        {% endif %}
                    </div>

                </td>
                <td class="text-style1 ">
                    <div class="cell-center">
                        {% if user.seller_approval_status == 0 %}
                        -
                        {% elif user.seller_approval_status != 0 %}
                        <img src="{% static 'media/patch-check-fill.svg' %}">
                        {% endif %}
                    </div>
                </td>
                <td class="text-style1">
                    <div class="cell-center">
                        {% if user.active == 0 %}
                        -
                        {% elif user.active != 0 %}
                        <img src="{% static 'media/patch-check-fill.svg' %}">
                        {% endif %}
                    </div>




                <td class="text-style1 ">
                    <div class="actions-box">
                        {% if user.active == 0 %}
                        <form action="/makeSellerUserActive" method="POST" class="form">
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% csrf_token %}
                            <div class="tooltip-eshop">
                                <button class="inactive-user-btn disable-css" type="submit">
                                    <img src="{% static 'media/person-check-fill-faded.svg' %}">
                                </button>
                                <span class="tooltiptext-eshop">Active</span>
                              </div>
                            <!-- <button class="inactive-user-btn disable-css" type="submit">
                                <img src="{% static 'media/person-check-fill.svg' %}">
                            </button> -->
                        </form>

                        {% elif user.active != 0 %}
                        <form action="/makeSellerUserInactive" method="POST" class="form">
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% csrf_token %}
                            <div class="tooltip-eshop">
                                <button class="active-user-btn disable-css" type="submit">
                                    <img src="{% static 'media/person-check-fill.svg' %}">
                                </button>
                                <span class="tooltiptext-eshop">Inactive</span>
                              </div>

                        </form>

                        {% endif %}
                        {% if user.seller_approval_status == 0 %}
                        <form action="/approveSeller" method="POST" class="form">
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% csrf_token %}
                            <div class="tooltip-eshop">
                                <button class="inactive-user-btn disable-css" type="submit">
                                    <img src="{% static 'media/check2-circle-faded.svg' %}">
                                </button>
                                <span class="tooltiptext-eshop">Approve</span>
                              </div>
                            <!-- <button class="inactive-user-btn disable-css" type="submit">
                                <img src="{% static 'media/x-lg.svg' %}">

                            </button> -->
                        </form>

                        {% elif user.seller_approval_status != 0 %}
                        <form action="/disapproveSeller" method="POST" class="form">
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% csrf_token %}
                            <div class="tooltip-eshop">
                                <button class="active-user-btn disable-css" type="submit">
                                    <img src="{% static 'media/check2-circle.svg' %}">
                                </button>
                                <span class="tooltiptext-eshop">Disapprove</span>
                              </div>
                            <!-- <button class="active-user-btn disable-css" type="submit">
                                <img src="{% static 'media/check2-circle.svg' %}">

                            </button> -->
                        </form>

                        {% endif %}
                        <form action="/deleteSeller" method="POST" class="form">
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% csrf_token %}
                            <div class="tooltip-eshop">
                                <button class="active-user-btn disable-css" type="submit">
                                    <img src="{% static 'media/trash-fill.svg' %}">
                                </button>
                                <span class="tooltiptext-eshop">Delete</span>
                              </div>
                            <!-- <button class="active-user-btn disable-css" type="submit">
                                <img src="{% static 'media/trash-fill.svg' %}">

                            </button> -->
                        </form>
                    </div>

                </td>


            </tr>
            {% endfor %}

        </table>
    </div>
    {% endif %}


</div>




{% endblock %}