{% extends "./adminBase.html" %} {% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'adminCss/buyer.css' %}" />
{% endblock %}
{% block title %}Admin-Buyer{% endblock %}
{% block content %}

<div>
    <div class="header-container ">
        <div id="pageTitle" class="main-padding">Buyer List</div>
        <hr class="border-line">
    </div>
    {% if user|length == 0 %}
    <div  class="img-wrapper" >
        <img style="object-fit: contain; height:100px;" src = "{% static 'media/404img.png' %}" >
    </div>
    {% else %}
    <div class="table-wrapper main-padding">
        <table>
            <tr>
                <th class="text-style1">Name</th>
                <th class="text-style1">Email</th>
                <th class="text-style1">Address</th>
                <th class="text-style1">City</th>
                <th class="text-style1">State</th>
                <th class="text-style1">Phone</th>
                <th class="text-style1">Email Verified</th>
                <th class="text-style1">Phone Verified</th>
                <th class="text-style1">Action</th>
            </tr>
            {% for user in users %}
            <tr>
                <td class="text-style1">{{user.name}}</td>
                <td class="text-style1">{{user.email}}</td>
                <td class="text-style1">{{user.address_line}}</td>
                <td class="text-style1">{{user.city}}</td>
                <td class="text-style1">{{user.state}}</td>
                <td class="text-style1">{{user.phone}}</td>
                <td class="text-style1">
                    <div class="cell-center">
                        {% if user.isEmailVerified == 0 %}
                        -
                        {% elif user.isEmailVerified != 0 %}
                        <img src="{% static 'media/patch-check-fill.svg' %}">
                        {% endif %}
                    </div>
                </td>
                <td class="text-style1">
                    <div class="cell-center">
                        {% if user.isPhoneVerified == 0 %}
                        -
                        {% elif user.isPhoneVerified != 0 %}
                        <img src="{% static 'media/patch-check-fill.svg' %}">
                        {% endif %}
                    </div>
                </td>
                <td class="text-style1 ">
                    <div class="actions-box">
                        {% if user.active == 0 %}
                        <form action="/makeUserActive" method="POST" class="form">
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% csrf_token %}
                            <button class="inactive-user-btn disable-css" type="submit">
                                <img src="{% static 'media/person-check-fill.svg' %}">
                            </button>
                        </form>
                        {% elif user.active != 0 %}
                        <form action="/makeUserInactive" method="POST" class="form">
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% csrf_token %}
                            <button class="active-user-btn disable-css" type="submit">
                                <img src="{% static 'media/person-x-fill.svg' %}">
                            </button>
                        </form>
                        {% endif %}
                        <form action="/deleteUser" method="POST" class="form">
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% csrf_token %}
                            <button class="active-user-btn disable-css" type="submit">
                                <img src="{% static 'media/trash-fill.svg' %}">
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}



</div>



{% endblock %}