

{% extends "estore/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static '/css/signin.css' %}" />
{% endblock %}
{% block title %}BecomeSeller{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="card">
<form action ="{% url 'become_seller' %}" method="POST" class="sellerform" enctype='multipart/form-data'>
    {% csrf_token %}
    {% for field in form %}
        <label for="formInput#text">{{field.label}}</label>
        {{field}}
        {% for error in field.errors %}
        <p style="color: red;">{{error}}</p>
        {% endfor %}
        {% endfor %}
    <input id='btn2' type="submit" name="Submit" value="Submit"/>
</form>

</div>

{% endblock %}