{% extends "./navfootbase.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'items/itemStyle.css' %}" />
{% endblock %}
{% block title %}items{% endblock %}
{% block content %}
<div class="main-container global-margin">
    <div class="sub-container">
        <div class="leftSideBar">
            <div class="carasoul-container"><h3>carasoul here</h3></div>
            
            <div class="btn-container">
                <div class="product addToCart"><button id="addToCartBtn">Add to cart</button></div>
                <div class="product buyNow"><button id="buyNowBtn">Buy Now</button></div>
            </div>
        </div>
        <div class="rightSideBar">
            <div class="product name">product name here</div>
            <div class="product description">
                <p>description here</p>
            </div>
            <div class="product price">price</div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
{% endblock %}