<!DOCTYPE html>
<html lang="en">

<head>
    <title>Privacy Policy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>

<style>
#page-title{
    margin-left: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.privacy-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 7%;
    padding-right: 7%;
    
}
.point{
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: 600;

}

</style>



<body>
    <h3 id="page-title">Privacy Policy</h3>
    <div class = "privacy-container">
        <!-- <div class = "point">
            Privacy Policy:
        </div> -->
        <div class = "text">
            We welcome you to our e-commerce platform – ESHOP. By browsing this platform and providing your information for any service on our platform, you agree to be bound by the terms and conditions of this Privacy Policy and our products if any.
        </div>
        <div class = "point">Data Collection:</div>  
        <div class = "text">
            When you register on the platform, your details will be stored in our database for providing you best services. We ask for your email, name, address, GST number, mobile on registration, and you agree to keep them in our database when you register. Some information is optional, and some are required. Address information for a buyer is only required for ordering a product. This information is also stored in our database.
        </div>
        <div class = "point">Use of your data:</div>
        <div class = "text">All the personal information stored is only used for providing necessary services to the user. We do not share your data with any third advertising party, neither we market your information. Any email correspondence will only be for security purposes.
        </div>
        <div class = "point">
            Opting out of our platform:
        </div>
        <div class = "text">
            If you are not a registered user, you can close off our platform as we do not store any data of anonymous users. If you are registered with us, your data will be stored but deleted if the admin removes the seller or user.
        </div>
        <div class = "point">Third-party service providers used by our website - </div>  
        <div class = "text">Stripe - Stripe is a third-party site used in our website which provides payment infrastructure for the internet. All the transaction details given by the user directly go to the third-party and are not stored with us.</div>
        <div class = "point">Changes to this policy:</div>  
        <div class = "text">In case of any change in our privacy policy, we would update this policy. Kindly keep yourself updated.</div>
    </div>
</body>

</html>