{% extends "./navfootbase.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'products/prodStyles.css' %}" />
{% endblock %}
{% block title %}Products{% endblock %}

{% block content %}
<div class="main-container global-margin">
    <div class="main-title">
        <h3>headinhg here</h3>
    </div>
    <div class="sub-container">
        <div class="leftSideBar">
            <h4>
                Select Filter
            </h4>
            <div>filtere list here</div>
            <h4>sort by</h4>
            <div>sort by liust items</div>
        </div>
        <div class="rightSideBar">
            <div class="products-list">
                <div class="product-featured-card">
                    <div class="card shadow-sm">
                        <img src="https://www.lenovo.com/medias/lenovo-laptop-ideapad-1-11-intel-hero.png?context=bWFzdGVyfHJvb3R8MjUyODM2fGltYWdlL3BuZ3xoODIvaGM2LzEwNzg2MTkyNTg4ODMwLnBuZ3w1MGYyMGJhMzU1ODg3ZDU2NDU4MWRlOGUxODc3ZWNkZTA3YjRhM2YwZjI2ZTAwMzQ1YTNlZTM1MzUzMDMwYTc1"
                            class="card-img-top" id="card" alt="web development" />
                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Add to cart
                                    </button>
                                </div>
                                <small class="text-muted">₹80,000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-featured-card">
                    <div class="card shadow-sm">
                        <img src="https://www.lenovo.com/medias/lenovo-laptop-ideapad-1-11-intel-hero.png?context=bWFzdGVyfHJvb3R8MjUyODM2fGltYWdlL3BuZ3xoODIvaGM2LzEwNzg2MTkyNTg4ODMwLnBuZ3w1MGYyMGJhMzU1ODg3ZDU2NDU4MWRlOGUxODc3ZWNkZTA3YjRhM2YwZjI2ZTAwMzQ1YTNlZTM1MzUzMDMwYTc1"
                            class="card-img-top" id="card" alt="web development" />

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Add to cart
                                    </button>
                                </div>
                                <small class="text-muted">₹80,000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-featured-card">
                    <div class="card shadow-sm">
                        <img src="https://www.lenovo.com/medias/lenovo-laptop-ideapad-1-11-intel-hero.png?context=bWFzdGVyfHJvb3R8MjUyODM2fGltYWdlL3BuZ3xoODIvaGM2LzEwNzg2MTkyNTg4ODMwLnBuZ3w1MGYyMGJhMzU1ODg3ZDU2NDU4MWRlOGUxODc3ZWNkZTA3YjRhM2YwZjI2ZTAwMzQ1YTNlZTM1MzUzMDMwYTc1"
                            class="card-img-top" id="card" alt="web development" />

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Add to cart
                                    </button>
                                </div>
                                <small class="text-muted">₹80,000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-featured-card">
                    <div class="card shadow-sm">
                        <img src="https://www.lenovo.com/medias/lenovo-laptop-ideapad-1-11-intel-hero.png?context=bWFzdGVyfHJvb3R8MjUyODM2fGltYWdlL3BuZ3xoODIvaGM2LzEwNzg2MTkyNTg4ODMwLnBuZ3w1MGYyMGJhMzU1ODg3ZDU2NDU4MWRlOGUxODc3ZWNkZTA3YjRhM2YwZjI2ZTAwMzQ1YTNlZTM1MzUzMDMwYTc1"
                            class="card-img-top" id="card" alt="web development" />

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Add to cart
                                    </button>
                                </div>
                                <small class="text-muted">₹80,000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-featured-card">
                    <div class="card shadow-sm">
                        <img src="https://www.lenovo.com/medias/lenovo-laptop-ideapad-1-11-intel-hero.png?context=bWFzdGVyfHJvb3R8MjUyODM2fGltYWdlL3BuZ3xoODIvaGM2LzEwNzg2MTkyNTg4ODMwLnBuZ3w1MGYyMGJhMzU1ODg3ZDU2NDU4MWRlOGUxODc3ZWNkZTA3YjRhM2YwZjI2ZTAwMzQ1YTNlZTM1MzUzMDMwYTc1"
                            class="card-img-top" id="card" alt="web development" />

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Add to cart
                                    </button>
                                </div>
                                <small class="text-muted">₹80,000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-featured-card">
                    <div class="card shadow-sm">
                        <img src="https://www.lenovo.com/medias/lenovo-laptop-ideapad-1-11-intel-hero.png?context=bWFzdGVyfHJvb3R8MjUyODM2fGltYWdlL3BuZ3xoODIvaGM2LzEwNzg2MTkyNTg4ODMwLnBuZ3w1MGYyMGJhMzU1ODg3ZDU2NDU4MWRlOGUxODc3ZWNkZTA3YjRhM2YwZjI2ZTAwMzQ1YTNlZTM1MzUzMDMwYTc1"
                            class="card-img-top" id="card" alt="web development" />

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Add to cart
                                    </button>
                                </div>
                                <small class="text-muted">₹80,000</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr class="featurette-divider">
{% endblock %}