{% extends "./base.html" %} {% load static %} {% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'shopfile/shopStyle.css' %}" />
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid custom-jumbotron">
  <div class="container">
    <h1 class="display-4">OUR LOGO</h1>
    <p class="lead">Anything but ordinary. An exciting place for the whole family to shop.</p>
  </div>
</div>
<div>
  <h1 id="top">Categories</h1>
</div>
<br />
<br />
<div class="cardsCategory global-margin">
  <div onclick="goToPage('/products/Mobile')" class="card-container">

    <img src="{% static 'media/mobile.jpg' %}" class="cat-img" />

    <div class="titleContainer">
      <h5 class="cat-title">
        <button class="button-borderless">Mobiles</button>
      </h5>
    </div>
  </div>
  <div onclick="goToPage('/products/Laptop')" class="card-container">

    <img src="{% static 'media/laptop.jpg' %}" class="cat-img" />
    {% comment %}
  </div>
  {% endcomment %}
  <div class="titleContainer">
    <h5 class="cat-title">
      <button class="button-borderless">Laptops</button>
    </h5>
  </div>
</div>
<div onclick="goToPage('/products/TV')" class="card-container">
  {% comment %}
  <div>
    {% endcomment %}
    <img src="{% static 'media/tv.jpg' %}" class="cat-img" />
    {% comment %}
  </div>
  {% endcomment %}
  <div class="titleContainer">
    <h5 class="cat-title">
      <button class="button-borderless">TV</button>
    </h5>
  </div>
</div>
<div onclick="goToPage('/products/Camera')" class="card-container">
  {% comment %}
  <div>
    {% endcomment %}
    <img src="{% static 'media/camera.jpg' %}" class="cat-img" />
    {% comment %}
  </div>
  {% endcomment %}
  <div class="titleContainer">
    <h5 class="cat-title">
      <button class="button-borderless">Camera</button>
    </h5>
  </div>
</div>
</div>

<hr class="featurette-divider" />
<div>
  <h1 id="top">Featured Products</h1>
</div>
<br />
<br />
<div class="auto-play global-margin" id="productLocation">
  {% for product in product_array %}
  <div class="product-featured-card card shadow-sm">
    <div class="img-container"><img class="card-img-top" src="{{product.image}}" alt="products" />
    </div>
    <div class="card-body">
      <h5 style="cursor: pointer;" onclick="goToPage('/itemDetails/id/{{product.id}}')">{{product.name}}</h5>
      <p class="card-text">
        {{ product.description}}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if product.inWishlist %}
          <button disabled class="addToWishlistBtn" type="button">
            Wishlisted
          </button>
          {% else %}
          <form action="/" method="POST" class="form">
            <input type="hidden" name="product_id" value="{{product.id}}" />
            <input type="hidden" name="wishlist_id" value="{{user.wishlist_id}}" />
            {% csrf_token %}
            <button id='{{product.id}}' class="addToWishlistBtn"
               type="submit">
              Wishlist
            </button>
          </form>
          {% endif %}
          <form action="/addToCart" method="POST" class="form">
            <input type="hidden" name="product_id" value="{{product.id}}" />
            <input type="hidden" name="cart_id" value="{{user.cart_id}}" />
            {% csrf_token %}
            <button class="addToCartBtn" onclick="showMessage('Product added to cart successfully!')" type="submit">
              Add to cart
            </button>
          </form>
        </div>
        <small class="text-muted">₹{{product.price}}</small>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<script type="text/javascript">
  function goToPage(web) {
    window.location.href = web;
  }
  $(document).ready(function () {
    window.sessionStorage.clear('sortByKey')
    window.sessionStorage.clear('filterKey')
    $(".auto-play").slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true, 
      autoplaySpeed: 2000,
      dots: true,
      touchMove: false,
      pauseOnHover: true,
      centerMode: false,
      arrows: false,
      responsive: [{
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          infinite: true
        }
      }, {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          dots: true
        }
      }, {
        breakpoint: 300,
        settings: "unslick" // destroys slick
      }]
    });
  });
  function showMessage(mesg) {
    var x = document.getElementById("snackbar");
    x.innerHTML = mesg
    x.className = "show";
    setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
  }
</script>
<hr class="featurette-divider" />
{% endblock %}