body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

#nav {
  font-size: 20px;
  background-color: #e3f2fd;
}

/* carousel image hover effect*/
img {
  opacity: 0.8;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

img:hover {
  opacity: 1;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

.featurette-divider {
  margin: 3rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.centerSearch {
  display: flex;
  flex-direction: row;
  position: relative;
}

.searchIcon {
  color: #ffffff;
}
.carousal-img{
  height: 600px;
  width: 100%;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 30rem;
}

/* .carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
} */

#search_icon {
  position: absolute;
  bottom: 8px;
  right: 10px;
  height: 16px;
   width:16px;
}

#searchValue {
  height: 35px;
  margin: 0;
  padding-right: 30px;
  width: 100%;
}

/* snackbar css */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
